@media(max-width: 991px){
    .box{
        border-radius: 0px;
    }
    .feed-component{
        height: 100%;
    }
    .btn-post{
        font-size: 1em;
        height: 3rem;
    }
}

@media(min-width:992px){
    .box{
        border-radius: 15px;
    }
    .btn-post{
        font-size: 1vw;
        height: 2.5vw;
    }
}



/* box */
.box{
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}


.row-btn-post{
    margin: 50px 32px 0 32px;
    
}

.btn-post{
    background-color: #f4f4f4;
    border-radius: 5px;
}