.updateprofile-wrapper{
	h1{
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
	}
	background-color: white;
	width: 570px;
	height: 820px;
	position: relative;
	padding: 50px;
	margin: auto !important;
	border-radius: 15px;
	align-item: center !important;
}

.input{
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #F4F4F4;
}
