.search-wrapper {
	display: flex;
	&__search-result{
		border: 1px solid #C4C4C4;
		width: 926px;
		height: 1342px;
		border-radius: 15px;
		&--tabs{
			display: flex;
			position: relative;
			justify-content: center;
			h1{
				width: 752px;
				height: 367px;
				border: 2px solid #C4C4C4;
				border-radius: 15px;
			}
		}
	}
}