.search-wrapper {
	display: flex;
	&__search-result{
		position: relative;
		border: 1px solid #C4C4C4;
		width: 926px;
		height: auto;
		border-radius: 15px;
		background-color: #fff;
		&--tabs{
			display: flex;
			position: relative;
			justify-content: center;
			width: 1000px !important;
		}
	
	}
}